img.prodImages {
    width: 109px;
}
img.prodImages360 {
    width: 200px;
}
.headerTitle{
    text-transform: uppercase;
    font-family: "Chivo", sans-serif;
  }
.cardProducts {
    text-align: center;
    border-radius: 10px;
}
.colsDiv {
        /* border: 1px solid #e5e1e1; */
        padding: 0px;
        margin: 0px;
        height: 23px;
    }