
<div class=" min-h-screen">
    <div class="main bg-white">
      
      <div class="grid w-11 m-auto">
        <div class="col-12 md:col-3 lg:col-3  cardImagesDesc"  >
            <p class=" text-1xl font-bold p-0 pl-2 mt-4 mb-3 headerTitle w-full">{{prodDetails.label}} </p>
            <img [src]="prodDetails.Images.frontImage" class="prodImages360">
            <!-- <div class="grid w-12 m-auto surface-900 mt-3">
              <div class="col-12 md:col-2 lg:col-2  cardImages"  >
                  
                      <div class="cardProducts p-3 h-full m1">
                          <p class=" text-1xl font-bold p-0 pl-2 mt-4 mb-3 text-50 headerTitle w-full">Front </p>
                          <img [src]="prodDetails.Images.frontImage" class="prodImages">
                      </div>
              </div>
              <div class="col-12 md:col-2 lg:col-2  cardImages"  >
                  <div class="cardProducts p-3 h-full m1">
                      <p class=" text-1xl font-bold p-0 pl-2 mt-4 mb-3 text-50 headerTitle w-full">Back Side</p>
                    <img [src]="prodDetails.Images.frontImage" class="prodImages">
                  </div>
                </div>
                <div class="col-12 md:col-2 lg:col-2  cardImages"  >
                  <div class="cardProducts p-3 h-full m1">
                      <p class=" text-1xl font-bold p-0 pl-2 mt-4 mb-3 text-50 headerTitle w-full">Left Side</p>
                    <img [src]="prodDetails.Images.frontImage" class="prodImages">
                  </div>
                </div>
                <div class="col-12 md:col-2 lg:col-2  cardImages"  >
                  <div class="cardProducts p-3 h-full m1">
                      <p class=" text-1xl font-bold p-0 pl-2 mt-4 mb-3 text-50 headerTitle w-full">Right Side</p>
                    <img [src]="prodDetails.Images.frontImage" class="prodImages">
                  </div>
                </div>
      
                <div class="col-12 md:col-2 lg:col-2  cardImages"  >
                  <div class="cardProducts p-3 h-full m1">
                      <p class=" text-1xl font-bold p-0 pl-2 mt-4 mb-3 text-50 headerTitle w-full">Top Side</p>
                    <img [src]="prodDetails.Images.frontImage" class="prodImages">
                  </div>
                </div>
                <div class="col-12 md:col-2 lg:col-2  cardImages"  >
                  <div class="cardProducts p-3 h-full m1">
                      <p class=" text-1xl font-bold p-0 pl-2 mt-4 mb-3 text-50 headerTitle w-full">Bottom Side</p>
                    <img [src]="prodDetails.Images.frontImage" class="prodImages">
                  </div>
                </div>
            </div> -->



        </div>
        <div class="col-12 md:col-9 lg:col-9 "  >
            <div class="card p-3 h-full">
                <p class=" text-2xl font-bold p-0 mt-4 mb-3 headerTitle">CAMERA</p>
                <ul class="list-none  bg-white text-sm p-0 m-0 topBrandsList">
                  <li class="m-0 p-2 border-bottom-1 border-800" >
                    <div class="grid">
                        <div class="col-12 md:col-3 lg:col-3 colsDiv">
                            <p class=" text-1xl font-bold  headerTitle w-full">Features </p>
                        </div>
                        <div class="col-12 md:col-9 lg:col-9 colsDiv">
                            <p>{{prodDetails?.MAINCAMERA?.Features}}</p></div>

                        <div class="col-12 md:col-3 lg:col-3 colsDiv">
                            <p class=" text-1xl font-bold  headerTitle w-full">Number of camera </p>
                        </div>
                        <div class="col-12 md:col-9 lg:col-9 colsDiv"><p>{{prodDetails?.MAINCAMERA?.NoOfCam}}</p></div>

                        <div class="col-12 md:col-3 lg:col-3 colsDiv">
                            <p class=" text-1xl font-bold  headerTitle w-full">Video Quality </p>
                        </div>
                        <div class="col-12 md:col-9 lg:col-9 colsDiv"><p>{{prodDetails?.MAINCAMERA?.Video}}</p></div>
                    </div>
                  </li>
                  <li class="m-0 p-2 border-bottom-1 border-800" >
                    <div class="grid">
                        <div class="col-12 md:col-3 lg:col-3 colsDiv">
                            <p class=" text-1xl font-bold  headerTitle w-full">Features </p>
                        </div>
                        <div class="col-12 md:col-9 lg:col-9 colsDiv">
                            <p>{{prodDetails?.MAINCAMERA?.Features}}</p></div>

                        <div class="col-12 md:col-3 lg:col-3 colsDiv">
                            <p class=" text-1xl font-bold  headerTitle w-full">Number of camera </p>
                        </div>
                        <div class="col-12 md:col-9 lg:col-9 colsDiv"><p>{{prodDetails?.MAINCAMERA?.NoOfCam}}</p></div>

                        <div class="col-12 md:col-3 lg:col-3 colsDiv">
                            <p class=" text-1xl font-bold  headerTitle w-full">Video Quality </p>
                        </div>
                        <div class="col-12 md:col-9 lg:col-9 colsDiv"><p>{{prodDetails?.MAINCAMERA?.Video}}</p></div>
                    </div>
                  </li>
                  <li class="m-0 p-2 border-bottom-1 border-800" >
                    <div class="grid">
                        <div class="col-12 md:col-3 lg:col-3 colsDiv">
                            <p class=" text-1xl font-bold  headerTitle w-full">Features </p>
                        </div>
                        <div class="col-12 md:col-9 lg:col-9 colsDiv">
                            <p>{{prodDetails?.MAINCAMERA?.Features}}</p></div>

                        <div class="col-12 md:col-3 lg:col-3 colsDiv">
                            <p class=" text-1xl font-bold  headerTitle w-full">Number of camera </p>
                        </div>
                        <div class="col-12 md:col-9 lg:col-9 colsDiv"><p>{{prodDetails?.MAINCAMERA?.NoOfCam}}</p></div>

                        <div class="col-12 md:col-3 lg:col-3 colsDiv">
                            <p class=" text-1xl font-bold  headerTitle w-full">Video Quality </p>
                        </div>
                        <div class="col-12 md:col-9 lg:col-9 colsDiv"><p>{{prodDetails?.MAINCAMERA?.Video}}</p></div>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
    </div>
    </div>
    
</div>