.topBrandsList{
  text-transform: uppercase;
}
.topBrandsList{
  text-transform: uppercase;
    // font-family: 'Kanit', sans-serif;
    font-family: 'Chivo', sans-serif;
// font-family: 'Kanit', sans-serif;
}
.headerTitle{
  text-transform: uppercase;
  font-family: "Chivo", sans-serif;
}
.title{
  text-transform: uppercase;
    font-family: "Chivo", sans-serif;
}
img.cardImages {
  width: 45px;
  padding: 3px;
  height: 62px;
}
img.cardImagesLeft {

  height: 180px;

}
.imgHeader{
  height: 500px;
  width: 700px;
  float: right;
}
.imgPortion2{


}
.badge {
  float: right;
}
span.p-badge.p-component.p-badge-no-gutter {
  background-color: #858585 !important;
}

.card2{
  position: relative;
  text-align: center;
  color: white; 
}
.titlePortionImage{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.colorsDiv {
  border: 1px solid white;
  margin: 1px;
  border-radius: 25%;
  width: 11px;
  height: 13px;
}
.flex.cardThumnails {
  padding: 3px;
}
.cardThub {
  box-shadow: 0px 0px 1px 0px;
}
.block2Desc {
  background-color: black;
  color: white;
  padding: 20px !important;
  /* border-radius: 20px; */
}